body{
    text-align: center;
}

/******************************CLASS TAGS*******************************/

.container {
    margin-top: 200px;
}

.letter {
    display: inline-block;
    color: black;
    font-size: 40px;
    margin: 20px;
    background-color: bisque;
    border: 2px solid black;
    padding: 0 10px;
}

.buttonDiv {
   position: relative;
    height: 100px;
}

.myButton {
    text-decoration: black;
    border: 2px solid black;
    color: black;
    padding: 10px;
    position: absolute;
    left: 48%;
}

.life-span {
    border: 2px solid black;
    padding: 10px 30px 10px 10px;
    position: absolute;
    left: 88%;
}

.poof {
    visibility: hidden;
}

.correct-letter {
    color: black;
    font-size: 40px;
}

.myDivs {
    display: inline-block;
    margin: 10px;
    border-bottom: 5px solid black;
    padding: 0 10px;
}